@use 'base/variables' as v;
@use 'base/mixins' as m;

.tabs {
    @include m.tablet{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: v.$separacion;
        gap: 0rem;
    }
    margin-bottom: calc(v.$separacion / 2);
    
    button{
        background-color: v.$azul;
        border:none;
        color: v.$blanco;
        padding: 1rem;
        cursor: pointer;
        display: block;
        width: 100%;
        margin-bottom: 1rem;
        text-transform: uppercase;
        font-weight: v.$bold;
        transition: background-color 300ms ease;

        &:hover {
            background-color: darken(v.$azul, 10%);
        }
        &.actual {
            background-color: v.$blanco;
            color: v.$azul;
        }
    }
}